body {
    background-color: rosybrown;
    text-align: center;
    height: 100%;
    background-image: url("/img/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 150vh;
}
section {
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    align-items: flex-end;
    flex-direction: column;
   
}
div {

    width: 600px;
    margin: 100px;
    
}
h1 {
 
    color: white; 
    text-shadow: 2px 3px black;
    width: 75%;
    margin: 0px 0px 10px 68px;

}
h2 {
    color: white; 
    text-shadow: 2px 3px black;
    width: 75%;
    margin: 0px 0px 10px 68px;
}
ol {
    color: white;
    width: 75%;
    text-shadow: 2px 2px black;
}

li {
list-style-position: inside;
border: 2px solid black;
color: white;
/* background-color: white; */
margin: 5px;
width: 100%;
padding: 20px;
    
}
.bread {
    background-image: url("/img/bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mediterranean {
    background-image: url("/img/meditteranean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pizza {
    background-image: url("/img/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.spaghetti {
    background-image: url("/img/spaghetti.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.strips {
    background-image: url("/img/strips.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}